@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  font-family: theme('fontFamily.sans');
}

.container {
  @apply mx-auto max-w-6xl px-4;
}
